@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white-shade: #FAFAFA;
    --white-shade2: #F5F5F5;
    --redshade: #DB4444;
    --poppins: "Poppins", sans-serif;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #ffffff;
    --heading-color: #000a19;
    --h-color: #0a043c;
    --white-color: #ffffff;
    --test: #070101;
    --para-color: #504e4d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

/*? header */

header {
    border-bottom: 0.5px solid #00000035;
}

/* ?header__container1 */

.header__container1 a {
    text-decoration: underline;
}

.header__container1 {
    max-width: 4500px;
    margin: auto;
    color: var(--white-shade);
    padding: 12px 0;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    background-color: #000;
    position: static;
    justify-content: space-around;
    align-items: center;
}

.header__container1 .header__para1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    justify-self: center;
    color: var(--white-shade)
}

.header__container1 .header__para1 a {
    font-weight: 550;
    color: #FAFAFA;
    word-spacing: 0.85px;
}

.header__container1 .header__para2 {
    color: var(--white-shade);
    justify-self: end;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    padding-right: 140px;
}

/* ?header__container2 */

header .header__grandmaincontainer2 {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 135px 18px 135px;
}

.header__mainlogo {
    font-weight: 700;
    font-size: 30px;
}

.header__grandmaincontainer2 nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__grandmaincontainer2 nav ul {
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.header__grandmaincontainer2 nav ul li a {
    font-weight: 550;
    letter-spacing: 0.1px;
    font-size: 18px;

}

/* .header__grandmaincontainer2 nav ul li:nth-child(1) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.821);
} */

/* ?header__container2 icons section*/

.header__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header__icons1 {
    width: 243px;
    display: flex;
    background: #F5F5F5;
    padding: 10px 12px 10px 20px;
    border-radius: 4px;
}

.header__icons1 {
    font-size: 16px;
}

header input {
    background: #F5F5F5;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 410;
    padding: 0px 0px 0 0px;
}

header i {
    font-size: 17px;
}

/* ?main */
main {
    margin: 0 135px 0px 135px;
}

/* ? section 1  */
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 320px;
    margin: 40px 0px 60px 0px;
    padding: 0 0 0 64px;
}

.one__container1__p1 {
    font-size: 19px;
    font-weight: 400;
    display: flex;
    gap: 1px;
    padding-bottom: 28px;
    align-items: center;
}

.one__container1 h2 {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    padding-bottom: 25px;
    align-items: center;
}

.one__container1__p1 img {
    width: 57px;
    height: 61px;
}

.one__container2 img {
    width: 540px;
    height: 450px;
    padding: 44px 0 14px 0;

}

.one h1 {
    font-weight: 800;
    font-size: 61px;
    line-height: 71px;
    padding-bottom: 31px;
}

/* ?section 2 */

.two {
    /* margin-bottom: 200px; */
    margin: auto;
    max-width: 1600px;
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
}



/* ?two__subsection2 */

.twop1 {
    width: 100%;
}

.two__subsection2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.two__subsection2__setion1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.two__subsection2__section1__span1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    align-items: center;
    gap: 12px;
}

.two__subsection2__section1__span1 span {
    width: 23px;
    height: 43px;
    background-color: var(--redshade);
    color: var(--redshade);
    border-radius: 4.5px;
}

.two__subsection2__section1__span1 p {
    font-size: 19px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--redshade);
}

.two__subsection2__section1__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 87px;

}

.two__subsection2__section1__div h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 0;
}

.two__subsection2__section1__span2__div {
    display: flex;
    align-items: center;
}

.two__subsection2__section1__span2__div p :is(strong:nth-child(1), strong:nth-child(3), strong:nth-child(7)) {

    padding-right: 30px;

}

.two__subsection2__section1__span2__div p :is(strong:nth-child(1), strong:nth-child(3), strong:nth-child(5), strong:nth-child(7)) {

    display: flex;
    flex-direction: column;
    font-size: 14px;

}

.two__subsection2__section1__span2__div p:nth-child(5) strong {
    padding-right: 8px !important;
}

.two__subsection2__section1__span2__div :is(strong:nth-child(2), strong:nth-child(4), strong:nth-child(6)) {
    color: var(--redshade);
    padding-right: 30px;
    font-size: 29px;
}

.two__subsection2__section1__span2__div p strong span:nth-child(1) {
    font-style: 14px;
    font-weight: 500;
}

.two__subsection2__section1__span2__div p strong span:nth-child(2) {
    font-size: 35px;
    font-weight: 700;
}

/* ?two__subsection1 */


.two__subsection1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.two__subsection1 div {
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-shade2);
    border-radius: 50%;
}

.two__subsection1 div i {
    font-size: 17px;
}

/*?  .three   */

.three {
    margin-top: 35px;
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    /* gap: 30px; */
    margin-bottom: 60px;
}

.three__img {
    width: 200px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-shade);
    border-radius: 6px;
}

.three__img-container {
    width: 300px;
    height: 280px;
    /* max-width: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-shade);
    border-radius: 6px;
    border: 1px solid #a0a0a007;
}

figure.itemimage {
    /* max-width: 1000px; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

figcaption {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

figcaption p {
    font-size: 18px;
    font-weight: 500;
}

figcaption strong:nth-child(2) span:nth-child(1) {
    color: var(--redshade);
}

figcaption strong:nth-child(2) s {
    color: #808080;
    font-weight: 500;
}

figcaption strong:nth-child(3) {
    color: #808080;
    font-weight: 500 !important;
    display: inline-block;
}

figure div:nth-child(3) {
    position: absolute;
    top: 17px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 34);
}

figure div:nth-child(3) span span {
    border-radius: 50%;
    margin-top: -7px;
    padding: 12px;
    background-color: #FFFFFF !important;
}

figure div:nth-child(3) span {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.itemimage:nth-child(1) img {
    width: 100%;

}

.itemimage:nth-child(2) img {
    width: 120%;

}

.itemimage:nth-child(3) img {
    width: 110%;

}

.itemimage:nth-child(4) img {
    width: 101%;
}

/* ?buttonsection */
.buttonsection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1600px;
    padding-bottom: 60px;
    border-bottom: 0.5px solid #00000035;
}

.buttonsection button {
    background-color: var(--redshade);
    color: #FAFAFA;
    padding: 16px 48px;
    border: none;
    border-radius: 4px;
}

/* ?sectionfour */

.four {
    max-width: 1600px;
    margin: auto;
    padding: 80px 0 70px 0;
    border-bottom: 0.5px solid #00000035;

}

.four .two__subsection2 {
    display: flex;
    max-width: 1600px;
    margin: auto;
    margin-bottom: 60px;
    align-items: end;
}

.four .two__subsection2__section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.two__subsection1 {
    margin-bottom: -20px;
}

.two .two__subsection1 {
    margin-bottom: 12px;
}

.four__subsection1 {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
}

.four__subsection1 figure {
    display: flex;
    width: 200px;
    border-radius: 5px;
    height: 185px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 0.5px solid #00000035;
}

/* ?section five */

/* ?subsection1 five */
.five .two__subsection2 {
    padding: 70px 0 30px 0;
    display: flex;
    align-items: flex-end !important;
    max-width: 1600px;
    margin: auto;
}

.buttonsection2 {
    margin-bottom: -20px;
}

.buttonsection2 button {
    background-color: var(--redshade);
    color: #FAFAFA;
    padding: 16px 48px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}

.five .two__subsection2__section1 {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

/* ?sixth section */

.six {
    display: flex;
    gap: 0px;
    padding: 69px 0 69px 75px;
    justify-content: center;
    margin: 100px auto 71px auto;
    background-color: #000;
}

.six_con {
    max-width: 1600px;
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.six__left-6>strong:first-child {
    font-weight: 600;
    font-size: 18px;
    color: #00FF66;
    padding-bottom: 30px;
    display: inline-block;
}

.six__left-6 h2 {
    font-weight: 650 !important;
    font-size: 55px !important;
    color: var(--white-shade) !important;
    padding-bottom: 32px;
}

.six__time {
    display: flex;
    justify-content: flex-start;
    gap: 27px;
    flex-direction: row;
    padding-bottom: 40px;
}

.six__time strong {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    height: 62px;
    width: 62px;
    padding: 14px;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    font-size: 17px;

}

.six__time strong div:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
}

.six button {
    background-color: #00FF66;
    color: white;
    padding: 16px 48px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}

/* ?.six img   */

.six img {
    width: 590px;
    filter: drop-shadow(0px 50px 240px #D9D9D9) drop-shadow(0px -500px 240px #D9D9D9);

    height: 340px;
}

.two2 {
    max-width: 1600px;
    /* justify-content: space-between; */
    display: flex;
    flex-direction: column;
}

.two2 .three {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    /* gap: 40px; */
}

.two2 .three:nth-child(2) figure:nth-child(1) img {
    height: 230px;
    width: 300px;
}

.two2 .three:nth-child(2) figure:nth-child(2) img {
    height: 180px;
    width: 290px;
}

.two2 .three:nth-child(2) figure:nth-child(4) img {
    height: 260px;
    width: 280px;
}

.two2 .three:nth-child(2) figure:nth-child(3) img {
    height: 230px;
    width: 300px;
}

.three__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two2 .three:nth-child(3) figure:nth-child(1) img {
    height: 230px;
    width: 300px;
    transform: rotateX(20deg);
}

.two2 .three:nth-child(3) figure:nth-child(2) img {
    height: 200px;
    width: 310px;
}

.two2 .three:nth-child(3) figure:nth-child(4) img {
    margin-top: -110px;
    height: 300px;
    width: 300px;
}

.two2 .three:nth-child(3) figure:nth-child(3) img {
    height: 230px;
    width: 300px;
}

.eight {
    max-width: 1600px;
    margin: auto;
}

/* GRID */
.eight__photos {
    display: grid;
    gap: 10px;
    height: 600px;
    grid-template-columns: 50% 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
}

/* COMMON STYLE FOR ALL IMAGE BOXES */
.eigth__img1,
.eigth__img2,
.eigth__img3,
.eigth__img4 {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    overflow: hidden;
}

/* DARK OVERLAY */
.eigth__img1::after,
.eigth__img2::after,
.eigth__img3::after,
.eigth__img4::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

/* TEXT CONTAINER */
.eight__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.eight__content h3 {
    font-size: 26px;
    font-weight: 600;
}

.eight__content p {
    font-size: 15px;
    color: #dedede;
    max-width: 230px;
    line-height: 20px;
}

.eight__content a {
    margin-top: 10px;
    color: white;
    font-weight: 500;
    /* font-size: 15px; */
    text-decoration: underline;
}

/* SMALL BOX TEXT SIZE */
.eight__content.small h3 {
    font-size: 22px;
}
.eight__content.small p {
    font-size: 16px;
}

/* IMAGES */
.eigth__img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(eigth/1c360f790c1817d3afa266b3c9f8c81ff0ed4428.png);
}

.eigth__img2 {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    background-image: url(nseven/Gemini_Generated_Image_q6mhqyq6mhqyq6mh.png)
    , linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    background-size: 87%;
    background-position: auto -90px;
}

.eigth__img3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(eigth/e5659d572977438364a41d7e8c9d1e9a794d43ed.png);
    background-size: 125%;
    background-position: 0px center;
    background-repeat: no-repeat;
    
}

.eigth__img4 {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-repeat: no-repeat;
    background-image: url(eigth/15315cd15102562cf220504d288fa568eaa816dd.png);
    background-size: 80%;
}

/* ?feature sec  */
.features {
    display: flex;
    justify-content: center;
    gap: 120px;
    max-width: 1600px;
    margin: auto;
    padding: 110px 0;
    text-align: center;
}

.features {
    gap: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-circle {
    width: 70px;
    height: 70px;
    background: #C5C5C5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon-circle::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background: #0D0D0D;
    border-radius: 50%;
    z-index: 1;
}

.icon-circle i {
    color: white;
    font-size: 22px;
    z-index: 2;
    position: relative;
}

.feature h3 {
    font-size: 15px;
    margin-top: 18px;
    font-weight: 700;
}

.feature p {
    font-size: 13px;
    color: #555;
    margin-top: 5px;
}

    /*? footer  */

    .footer {
    background: #000;
    color: #fff;
    padding: 60px 0 20px;
    font-family: "Poppins", sans-serif;
}

/* CENTER + MAX WIDTH 1600px */
.footer-container {
    max-width: 1600px;
    margin: 0 auto;         /* CENTER */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    padding: 0 20px;        /* SIDE PADDING */
}

.footer-col h2.footer-logo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}

.footer-col h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-col p {
    font-size: 17px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    color: #fff;
    opacity: 0.8;
    font-size: 17px;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.footer-col a:hover {
    opacity: 1;
    /* padding-left: 4px; */
    text-decoration: underline;
    transform: scale(1.005);
}

/* EMAIL BAR */
.footer-email {
    display: flex;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}

.footer-email input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
}

.footer-email button {
    background: #fff;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    color: #000;
}

/* DOWNLOAD BOX */
.footer-app-box {
    display: flex;
    gap: 15px;
    align-items: center;
}

.qr {
    width: 80px;
    height: 80px;
    background: #222;
    border-radius: 10px;
}

.store-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.store-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #111;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #333;
}

.store-btn i {
    font-size: 18px;
}

/* SOCIAL ICONS */
.footer-social {

    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.footer-social i {
        display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    background: #111;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.footer-social i:hover {
    background: #fff;
    color: #000;
}

/* BOTTOM COPYRIGHT */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
    margin-top: 50px;
}

main section:nth-child(3) .itemimage div:nth-child(3) span:nth-child(1){
    display: inline-block;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: var(--redshade);
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}
